

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <span>Without Argument</span>
      <p class="alert alert-success">{{title1 | Summary}}</p>
        <span>With Argument</span>
      <p class="alert alert-success">{{title1 | Summary :20 }}</p>
        <span>Without Argument</span>
      <p class="alert alert-success">{{title1 | wordLimit}}</p>
        <span>With Argument</span>
      <p class="alert alert-success">{{title1 | wordLimit: 5}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <div class="form-group d-flex justify-content-between">
        <input type="text" class="form-control mr-2" placeholder="Search Here..." [(ngModel)]="searchedValue">
        <select name="" id="" class="form-control" [(ngModel)]="searchedOPtion">
          <option [value]="option" *ngFor="let option of optionArr">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="table-responsive">
        <table class="table table-bordered" *ngIf="(newPlayerArr| filter: searchedValue) as newFilterArr">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Name</th>
              <th>Age</th>
              <th>Team</th>
              <th>Role</th>
              <th>Matches</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of newFilterArr | filter : searchedValue; let i= index">
              <td>{{i+1}}</td>
              <td>{{player.name}}</td>
              <td>{{player.age}}</td>
              <td>{{player.team}}</td>
              <td>{{player.role}}</td>
              <td>{{player.matches}}</td>
            </tr>
            <tr>
              <td *ngIf="newFilterArr.length === 0">
                <p class="alert alert-info">Search value not match</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>